<div class="d-flex justify-content-center mt-5">
  <div style="width: 50%;">
    <h3 class="text-center">Log in</h3>

  <form action="/auth/login" method="post">

    <div class="mb-3">
      <label for="email" class="form-label">Correo electrónico</label>
      <input type="email" class="form-control" name="email" id="email" value="{{this.email}}">
    </div>

    <div class="mb-3">
      <label for="password" class="form-label">Contraseña</label>
      <input type="password" class="form-control" name="password" id="password" value="{{this.password}}">
    </div>

    <button type="submit" class="btn btn-primary">Acceder</button>

    {{#if this.errorMessage}}
      <p class="error">{{this.errorMessage}}</p>
    {{/if}}

  </form>
</div>
