<div class="d-flex justify-content-center align-items-center vh-100">
    <div style="width: 50%;">
      <h3 class="text-center">Favoritos</h3>

      <div class="card">
        <div class="card-body">
          <!-- Contenido de la lista de favoritos -->
          <h5 class="card-title">Tus favoritos</h5>
          <p class="card-text">Aquí se mostrarían los elementos que has marcado como favoritos.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Elemento 1</li>
          <li class="list-group-item">Elemento 2</li>
          <!-- Puedes agregar más elementos list-group-item para mostrar los favoritos -->
        </ul>
        <div class="card-body">
          <p class="card-text">Total de favoritos: XX</p>
          <a href="#" class="btn btn-primary">Ver Todos los Favoritos</a>
        </div>
      </div>
    </div>
  </div>
