<h1>Poketrade</h1>
<p>Welcome to Poketrade!</p>



{{!-- <div class="cards-container">
        {{#each allCards}}
        <div class="card-item-home">
            <img src="{{this.image}}" alt="card" height="200px">
            <p>{{this.name}}</p>
            <p>
                <a href="/card/{{this._id}}">See more</a>
            </p>
        </div>
        {{/each}}
    </div> --}}

    <a href="/card/">
        <button>Check this card!</button>
    </a>