<h1>Poketrade</h1>
<p>Welcome to Poketrade!</p>

 <div class="cards-container">
        {{#each allCards}}
        <div class="card-item">
            <p>{{this.name}}</p>
            <p>{{this.description}}</p>
            <p>{{this.image}}</p>
        </div>
        {{/each}}
    </div>

    <a href="/card/">
        <button>Check this card out!</button>
    </a>