
 <div class="cards-container mt-5">
    {{#each allCards}}
    <div class="card-item">
        <img src="{{this.image}}" alt="Card Image" width="400">
        <p>{{this.name}}</p>
        <h4>*{{this.description}}*</h4>
        <a href="/stock/{{this._id}}/details">
            <button class="btn btn-primary">Check this card out!</button>
        </a>
    </div>
    {{/each}}
</div>
